body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  background: rgb(255, 255, 255);
}
h2 {
  font-size: 3rem;
  color: white;
  background: black;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 black;
}
#btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  background: black;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 black;
  cursor: pointer;
  transition: 0.3s;
}
#btn:hover {
  transform: scale(1.05);
}
.btnAnim {
  animation: 2s click;
}
@keyframes click {
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@media screen and (max-width: 440px) {
  h2 {
    font-size: 1.6rem;
  }
  #btn {
    font-size: 1rem;
  }
}
